<ion-header [translucent]="true" mode="md">
  <ion-toolbar color="primary" mode="md">
    <ion-title class="ion-text-center ion-padding-top-small" mode="md">
      {{ appName }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="md">
  <ion-header collapse="condense" mode="md">
    <ion-toolbar mode="md">
      <ion-title size="large" mode="md">login</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card mode="md">
    <ion-card-header>
      <ion-card-title class="ion-text-center login-title" mode="md">
        <ion-icon name="person" mode="md"></ion-icon>
        <span>Login</span>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <app-login-form />
</ion-content>

<ion-footer mode="md">
  <ion-toolbar mode="md">
    <ion-title class="ion-text-center" size="small" mode="md">
      All rights are reserved @2025
    </ion-title>
  </ion-toolbar>
</ion-footer>