.timesheet-card {
  padding: 8px;
  margin: 8px;

  h6 {
    font-weight: bold;
  }

  ion-item {
    --background: transparent;
  }

  &:nth-child(even) {
    --background: var(--ion-color-light);
  }
}
.duration {
  display: flex;
  flex-direction: column;
  gap: 8px;
  span {
    font-weight: bold;
    font-size: 14px;
  }
}
