<ion-card class="ion-no-padding">
	<app-month-filter [selectedMonth]="selectedMonth()" (monthChange)="onMonthChange($event)"></app-month-filter>
</ion-card>

@if (loading()) {
<div class="ion-text-center">
	<ion-spinner></ion-spinner>
	<p>Loading timesheets...</p>
</div>
} @else if (error()) {
<div class="ion-text-center">
	<p style="color: red;">{{ error() }}</p>
</div>
} @else if (timesheets().length === 0) {
<div class="ion-text-center">
	<p>No timesheets found for this month.</p>
</div>
} @else {
<ion-list class="ion-no-padding">
	@for (timesheet of timesheets(); track timesheet.id) {
	<ion-card class="ion-no-padding timesheet-card">
		<ion-item-sliding #slidingItem>
			<ion-item-options side="start">
				<ion-item-option color="primary" expandable="true" (click)="editTimesheet(timesheet, slidingItem)">
					<ion-icon slot="icon-only" name="create-outline"></ion-icon>
				</ion-item-option>
			</ion-item-options>

			<ion-item lines="none">
				<ion-label>
					<div class="ion-text-wrap">
						<h6 class="ion-no-margin">{{ timesheet.workDate | date:'fullDate' }}</h6>
						<div class="ion-no-margin">
							<span>{{ timesheet.startTime }} - {{ timesheet.endTime }} </span>
							<!-- <span>Week {{ getWeekNumber(timesheet.workDate) }} </span> -->
						</div>
					</div>
				</ion-label>
				<ion-note slot="end" color="primary" class="ion-no-margin duration">
					@if (calculateDuration(timesheet.startTime, timesheet.endTime).hours !== '00') {
					<span>{{ calculateDuration(timesheet.startTime,
						timesheet.endTime).hours
						}}
						hours</span>
					}
					@if (calculateDuration(timesheet.startTime, timesheet.endTime).minutes !== '00') {
					<span>{{ calculateDuration(timesheet.startTime, timesheet.endTime).minutes }} mins</span>
					}
				</ion-note>
			</ion-item>

			<ion-item-options side="end">
				<ion-item-option color="danger" (click)="deleteTimesheet(timesheet)">
					<ion-icon slot="icon-only" name="trash-outline"></ion-icon>
				</ion-item-option>
			</ion-item-options>
		</ion-item-sliding>
	</ion-card>
	}
</ion-list>
}