<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center ion-padding-top-small">
      {{ appName }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">signup</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        <ion-icon name="person"></ion-icon>
        <span>Signup</span>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <app-signup-form></app-signup-form>
</ion-content>
