<ion-list lines="none" class="ion-no-margin">
    <ion-item>
        <ion-label>Filter by Month</ion-label>
        <ion-datetime-button slot="end" datetime="datetime"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
            <ng-template>
                <ion-datetime id="datetime" presentation="month-year" [value]="selectedMonth"
                    (ionChange)="onDateChange($event)" [showDefaultButtons]="true"></ion-datetime>
            </ng-template>
        </ion-modal>
    </ion-item>
</ion-list>